<ion-view view-title="Golf Match">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
<a target="_" href="https://airtable.com/shrMMjfn75ibr8V2g">
    <button class="button button-stable">   <i class="icon ion-edit"></i> Edit Scores </button> </a>
  </ion-nav-buttons>

<ion-header-bar class="bar-positive">
    <h1 class="title"> </h1>
  </ion-header-bar>

  <ion-content class="has-header">

<div class="row-fluid">  <h4> </h4>
  Playing At: {{vGm.vm.loc}} on: {{vGm.vm.when}}  
</div>  

<div  class="list card" ng-repeat="pp in byTeam | orderBy: 'tsR18'" ng-init="ppIdx = $index">
  <div class="row">  <div class="col-40">
<span class="button" ng-click="calcTsw()"><span class="badge badge-energized">{{pp.name}}</span>
  <span class="badge">{{vGm.vp[ppIdx].th}}</span>
</span></div>
<div class="col text-center">
<span class="button button-positive"> {{ pp.tsR18 }} </span>
</div>
<div class="col text-center">
<span class="button button-small button-light"> F9: </span>
<span class="button button-small button-stable"> {{ pp.tsF9 }}, {{ pp.tpF9 }} </span>
   <br> <br>
<span class="button button-small button-light"> B9: </span>
<span class="button button-small button-stable"> {{ pp.tpB9 }}, {{ pp.tpB9 }} </span>
</div></div>
  <div class="row-fluid"> 
<span class="button button-small button-light"> Front: </span>
<span class="button button-small button-light"> {{pp.scores[0]}}, {{pp.putts[0]}} </span>
<span class="button button-small button-light"> {{pp.scores[1]}}, {{pp.putts[1]}} </span>
<span class="button button-small button-light"> {{pp.scores[2]}}, {{pp.putts[2]}} </span>
<span class="button button-small button-light"> {{pp.scores[3]}}, {{pp.putts[3]}} </span>
<span class="button button-small button-light"> {{pp.scores[4]}}, {{pp.putts[4]}} </span>
<span class="button button-small button-light"> {{pp.scores[5]}}, {{pp.putts[5]}} </span>
<span class="button button-small button-light"> {{pp.scores[6]}}, {{pp.putts[6]}} </span>
<span class="button button-small button-light"> {{pp.scores[7]}}, {{pp.putts[7]}} </span>
<span class="button button-small button-light"> {{pp.scores[8]}}, {{pp.putts[8]}} </span>
  <br />
<span class="button button-small button-light"> Back: </span>
<span class="button button-small button-light"> {{pp.scores[9]}}, {{pp.putts[9]}} </span>
<span class="button button-small button-light"> {{pp.scores[10]}}, {{pp.putts[10]}} </span>
<span class="button button-small button-light"> {{pp.scores[11]}}, {{pp.putts[11]}} </span>
<span class="button button-small button-light"> {{pp.scores[12]}}, {{pp.putts[12]}} </span>
<span class="button button-small button-light"> {{pp.scores[13]}}, {{pp.putts[13]}} </span>
<span class="button button-small button-light"> {{pp.scores[14]}}, {{pp.putts[14]}} </span>
<span class="button button-small button-light"> {{pp.scores[15]}}, {{pp.putts[15]}} </span>
<span class="button button-small button-light"> {{pp.scores[16]}}, {{pp.putts[16]}} </span>
<span class="button button-small button-light"> {{pp.scores[17]}}, {{pp.putts[17]}} </span>
  </div>
</div>

  <h4> </h4>

  <div class="row-fluid"> Copyright &copy; &middot; Lee DaBord &middot; Inglewood, CA. USA
  </div>

<div class="row">
  <div class="col">
<a  href="#/event/ALLscores"  class="item item-icon-left">
  <i class="icon ion-edit"></i> Edit Scores </a>
  </div>  <div class="col">
  <a href="#/event/match"  class="item item-icon-left" menu-close>
    <i class="icon ion-ios-settings"></i> Setup Match </a>  
  </div>
</div>  

</ion-content>
</ion-view>
