<ion-view view-title="Golf Match">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-calm"> Teams: </button>
    <span> &nbsp; </span>
    <button class="button button-dark">{{ byTeam.length }}</button>
  </ion-nav-buttons>


<ion-header-bar class="bar-positive">
    <h1 class="title">Ionic Group List</h1>
  </ion-header-bar>

  <ion-content class="has-header">
    <ion-list>
      <div ng-repeat="group in accGroup"  ng-init="hhidx = $index">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: group.isShown}">
          <i class="icon" ng-class="group.isShown ? 
          'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          Hole #{{hhidx+1}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="item in byTeam"
  ng-init="ttidx = $index"
                  ng-show="group.isShown">
          {{item.name}} :: {{item.scores[hhidx]}} / {{item.putts[hhidx]}}
        </ion-item>
      </div>
    </ion-list>

<ion-list> 
<ion-item>
  <div class="button button-small"> :: {{x.Team}} :: </div>
  <div class="button button-small">               
                    <span> &nbsp; </span>  {{x.tsR18}} <span class="button button-small button-dark"> [{{x.tpR18}}] </span>
  </div>
  <div class="button button-small">
                   <span class="button button-royal"> 
                    <span> &nbsp; </span>  {{x.tsF9}} <span class="button button-small button-royal"> [{{x.tpF9}}] </span></span>    <br>   
     :: {{x.Scores}} :: <br>   {{x.Putts}} 
  </div>
  <div class="button button-small">
                   <span class="button button-royal"> 
                    <span> &nbsp; </span>  {{x.tsB9}} <span class="button button-small button-royal"> [{{x.tpB9}}] </span>
</span>    <br>   <span ng-repeat="yy in x.Scores track by 'x.Team'">
     :: {{yy}} :: <br>   {{x.Putts[$index]}}  </span>
  </div>
</ion-item>
<ion-item>
 <span> #1 >> </span>  <br>  <div   ng-repeat="x in byTeam | orderBy:'Team'" class="button button-small"> :: {{x.Team}} :: <br> 
                      <span class="button button-balanced"> 
                    <span> &nbsp; </span>  {{x.Scores[0]}} <span class="button button-small button-assertive"> [{{x.Putts[0]}}] </span>
 </span>  </div>
</ion-item>
<ion-item>
 <span> #2 >> </span>   <br> <div   ng-repeat="x in byTeam | orderBy:'Team'" class="button button-small"> :: {{x.Team}} :: <br>
                      <span class="button button-energized"> 
                    <span> &nbsp; </span>  {{x.Scores[1]}} <span class="button button-small button-royal"> [{{x.Putts[1]}}] </span>
 </span>  </div>
</ion-item>
<ion-item>
 <span> #3 >> </span>  <br>  <div   ng-repeat="x in byTeam | orderBy:'Team'" class="button button-small"> :: {{x.Team}} :: <br>
                      <span class="button button-calm"> 
                    <span> &nbsp; </span>  {{x.Scores[2]}} <span class="button button-small button-calm"> [{{x.Putts[2]}}] </span>
 </span>  </div>
</ion-item>
<ion-item>
 <span> #8 >> </span>  <br>  <div   ng-repeat="x in byTeam | orderBy:'Team'" class="button button-small"> :: {{x.Team}} :: <br>
                      <span class="button button-calm"> 
                    <span> &nbsp; </span>  {{x.Scores[7]}} <span class="button button-small button-calm"> [{{x.Putts[7]}}] </span>
  </span>  </div>
</ion-item>
<ion-item>
 <span> #9 >> </span>  <br>   <div   ng-repeat="x in byTeam | orderBy:'Team'" class="button button-small"> :: {{x.Team}} :: <br>
                      <span class="button button-calm"> 
                    <span> &nbsp; </span>  {{x.Scores[8]}} <span class="button button-small button-royal"> [{{x.Putts[8]}}] </span>
  </span>  </div>
</ion-item>
</ion-list>

<div class="row-fluid">
  Teams: {{byTeam}}
</div>

  </ion-content>
</ion-view>
